<div class="ekart-product-container">
  <!-- <img [src]="product.pImage" class="w-60 h-50">
  <p>Name: {{product.Name}}</p>
  <p>Price: ${{product.Price}}</p>
  <p>Color: {{product.Color}}</p>
  <p>{{product.inStock >0 ? "Only " + product.inStock + " items left " :
    "Not in Stock"}}</p>
  <p>Discounted Price: ${{getDiscount().toFixed(2)}}</p>
  <button class="" (click)="decrementCartValue()">-</button>
  <span class="addtocartspan">{{addToCart}}</span>
  <button class="" (click)="incrementCartValue()">+</button>
  <input (input)="onNameChange($event)"> <br><br>

  <p>Name: {{name}}</p> -->

  <!-- <div class="fixed z-10 top-0 w-full h-full flex bg-black bg-opacity-60">
    <div class="extraOutline p-4 bg-white w-max bg-whtie m-auto rounded-lg">
      <div
        class="file_upload p-5 relative border-4 border-dotted border-gray-300 rounded-lg"
        style="width: 450px">
        <svg class="text-indigo-500 w-24 mx-auto mb-4"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke="currentColor"><path stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2"
            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" /></svg>
        <div class="input_field flex flex-col w-max mx-auto text-center">
          <label>
            <input class="text-sm cursor-pointer w-36 hidden" type="file"
              multiple />
            <div
              class="text bg-indigo-600 text-white border border-gray-300 rounded font-semibold cursor-pointer p-1 px-3 hover:bg-indigo-500">Select</div>
          </label>

          <div class="title text-indigo-500 uppercase">or drop files here</div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="h-screen font-sans text-gray-900 bg-gray-300 border-box">
    <div class="flex justify-center w-full mx-auto sm:max-w-lg">

      <div
        class="flex flex-col items-center justify-center w-full h-auto my-20 bg-white sm:w-3/4 sm:rounded-lg sm:shadow-xl">
        <div class="mt-10 mb-10 text-center">
          <h2 class="text-2xl font-semibold mb-2">Upload your files</h2>
          <p class="text-xs text-gray-500">File should be of format .mp4, .avi,
            .mov or .mkv</p>
        </div>
        <form action="#"
          class="relative w-4/5 h-32 max-w-xs mb-10 bg-white  rounded-lg shadow-inner">
          <input type="file" id="file-upload" class="hidden">
          <label for="file-upload"
            class="z-20 flex flex-col-reverse items-center justify-center w-full h-full cursor-pointer">
            <p class="z-10 text-xs font-light text-center text-gray-500">Drag &
              Drop your files here</p>
            <svg class="z-10 w-8 h-8 text-indigo-400" fill="currentColor"
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path>
            </svg>
          </label>
        </form>
      </div>
    </div>
  </div> -->

  <app-search (searchTextChanged)="setSeachText($event)"></app-search>
  <app-product-list [searchText]="searchText" #productListComponent></app-product-list>
  <app-product-detail *ngIf="productListComponent.selectedProduct"
    [productListComp]="productListComponent"></app-product-detail>

  <div class="ekart-featured-products">
    <div class="ekart-featured-heading">
      <h1 class="h1">Latest Arrival in Pupolar Brands</h1>
    </div>
    <app-featured-brands>
      <h3 class="title h3">New Arrivals in Nike</h3>
      <button class="call-to-action">Show New Arrivals in Nike</button>
    </app-featured-brands>
    <app-featured-brands>
      <h3 class="title h3">New Arrivals in Adidas</h3>
      <button class="call-to-action">Show New Arrivals in Adidas</button>
    </app-featured-brands>
    <app-featured-brands>
      <h3 class="title h3">New Arrivals in Reebok</h3>
      <button class="call-to-action">Show New Arrivals in Reebok</button>
    </app-featured-brands>
  </div>
</div>
